<ng-container *ngIf="!(currentUser$ | async)?.isAdmin; else adminEdit">
  <div class="cart-top">
    <div class="cart-title">CART</div>
    <button class="cart-clear" (click)="clearCart()">Clear</button>
  </div>

  <div class="divider"></div>

  <ul class="cart-items">
    <li class="cart-item" *ngFor="let c of cartItems$ | async as cartItems">
      <span>{{ c.item.title }}</span>
      <button (click)="incCartItem(c.item)">
        <mat-icon
          aria-hidden="false"
          aria-label="change quantity"
          fontIcon="add"
          >plus</mat-icon
        >
      </button>
      <input
        type="number"
        #quantity
        [value]="c.quantity"
        (input)="changeCartItem(c.item, $event)"
        min="0"
      />
      <button (click)="decCartItem(c.item)">
        <mat-icon
          aria-hidden="false"
          aria-label="change quantity"
          fontIcon="horizontal_rule"
          >minus</mat-icon
        >
      </button>
    </li>
  </ul>

  <div class="cart-order">
    <div class="cart-title">ORDER</div>
    <div class="divider"></div>
    <div class="cart-details">
      <div class="cart-detail">
        <span>Items Price</span><span>{{ cartPrice$ | async }}$</span>
      </div>
      <div class="cart-detail"><span>Delivery Cost</span><span>0$</span></div>
      <div class="mini-divider"></div>
      <div class="cart-total">{{ cartPrice$ | async }}$</div>
    </div>
    <div class="cart-order-bottom">
      <button
        class="btn-order"
        (click)="openOrderDialog()"
        [disabled]="isEmpty(cartItems$ | async)"
      >
        <span>ORDER NOW</span>
        <mat-icon
          aria-hidden="false"
          aria-label="order forward icon"
          fontIcon="arrow_forward"
          >arrow forward</mat-icon
        >
      </button>
    </div>
  </div>
</ng-container>

<ng-template #adminEdit>
  <div class="cart-top">
    <div class="cart-title">{{editItem ? "Update" : "New" }}</div>
    <button class="cart-clear" (click)="createNew()">
      <mat-icon aria-hidden="false" aria-label="create new item" fontIcon="add"
        >create Item</mat-icon
      >
    </button>
  </div>

  <div class="divider"></div>

  <form [formGroup]="form" class="form-wrap" (ngSubmit)="onSubmit()">
    <input
      type="text"
      class="form-input"
      placeholder="title"
      formControlName="title"
    />
    <input
      type="text"
      class="form-input"
      placeholder="manufacturer"
      formControlName="manufacturer"
    />
    <input
      type="text"
      class="form-input"
      placeholder="size"
      formControlName="size"
    />
    <input
      type="number"
      class="form-input"
      placeholder="price"
      formControlName="price"
    />
    <input 
    type="text" 
    class="form-input"
    placeholder="imgUrl"
    formControlName="imgUrl"
    />
    <input 
    type="text"
    class="form-input"
    placeholder="Category Id"
    formControlName="category"
    />
    <button class="btn-submit">{{editItem ? "Update" : "Create"}}</button>
  </form>
</ng-template>
