:host(.wrapper) {
    background: var(--sky-50);
    padding: 1.5em;
    height: 100%;
    isolation: isolate;
    min-height: 440px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.categories {
    width: 100%;
    padding: 3em 2em 1em 2em;
    position: relative;
}

.categories-inner {

    display: flex;
    gap: 2em;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.categories::after {
    content: 'CATEGORIES';
    position: absolute;
    top: 0px;
    left: 0;
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: var(--sky-600);
    opacity: 50%;
    letter-spacing: 0.2em;
}

.categories::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--sky-100);
    clip-path: polygon(0% 100%, 0% 25%, 100% 0%, 100% 100%);
    z-index: -1;
}

.btn-category {
    outline: none;
    border:none;
    background: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    width: max-content;
    color: var(--gray-600);
    cursor: pointer;
}

.btn-category.selected {
    background-color: var(--sky-50);
}

.grid-items {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 1.5em;
    overflow-y: auto;
    max-height: 75%;
}

.cart-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    aspect-ratio: 688 / 481;
    background-image: url('/assets/grayscaleCart.svg');
    background-position: center;
    background-size: cover;
    opacity: 0.1;
}

.rect-bg {
    position: absolute;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 80%;
    height: 60%;
    max-height: 440px;
    opacity: 0.05 ;
    background: #111;
    right: 0;
    bottom: 0;
    outline: 2px solid var(--sky-200);
    outline-offset: -20px;
}