<img [src]="itemDetails.imgUrl" class="item-img"/>

<div class="item-body">
    <div class="item-title">
        {{itemDetails.title}}
    </div>
    <div class="item-subtitle">
        {{itemDetails.size}} | {{itemDetails.manufacturer}}
    </div>
    <div class="item-price">
        <span class="price-symbol">₪</span>{{itemDetails.price}}
    </div>
</div>

<button *ngIf="!(currentUser$ | async)?.isAdmin" class="item-action" tabindex="0" (click)="addItemToCart(itemDetails)">+</button>

<ng-container *ngIf="(currentUser$ | async)?.isAdmin">
    <button class="item-action" tabindex="0" (click)="editItem(itemDetails)">+</button>
    <button class="item-action remove" tabindex="0" (click)="removeItem(itemDetails._id)">-</button>
</ng-container>