:host(.wrapper) {
    display: flex;
    justify-content: center;
    margin-top: auto;
    font-size: larger;
    gap: 1em;
    align-items: center;
}

.btn-page {
    background: var(--sky-50);
    outline: none;
    border: none;
    padding: .5em 1em .25em;
    cursor: pointer;
    z-index: 5;
}

.btn-page:hover {
    filter: brightness(0.98);
}