:host(.wrapper) {
    width: 100%;
    background: var(--sky-200);
    min-height: 60px;
    max-width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

:host(.wrapper:hover) {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.search-wrapper {
    width: 80%;
    position: relative;

    --translateX: 0px;
    isolation: isolate;
}

.search-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(var(--translateX)) ;
    transition: transform 200ms ease;
    width: 3px;
    height: 70%;
    background-color: var(--gray-500);
    z-index: -1;
}

.search-wrapper:hover {
    --translateX: -12px;
}

.search-wrapper > input {
    width: 100%;
    outline: none;
    padding: 0.75em 5em 0.75em 1em;
    border: none;
    border-left: 2px solid var(--gray-800);
}

.btn-search {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    height: min-content;
    height: 100%;
    padding-top: 0.3em;
}

.btn-search:hover {
    transform:  translateY(-50%) scale(1.1);
}

.divider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4em;
    height: 50%;
    width: 0.15em;
    background-color: black;
}